!!! 5
%html
  %head
    %title= current_page.data.title || "Gavin Anthony"
    %meta{ :charset => "utf-8" }
    %meta{ :content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name=> "viewport" }
    = stylesheet_link_tag :site
    = javascript_include_tag :all
  %body{ :class => page_classes}
    %div.wrapper
      = partial "partials/header"
      %div.container
        %h1= current_page.title
        = yield
      = partial "partials/footer"
