!!! 5
%html
  %head
    %title= current_page.data.title || 'Gavin Anthony'
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name: 'viewport' }
    %link{ href: '/stylesheets/fonts/Affogato-Medium.woff2', rel: 'preload', as: 'font', crossorigin: true }
    %link{ href: '//cloud.typenetwork.com/licenseWeb/7064/fontfile/woff2/', rel: 'preload', as: 'font', crossorigin: true }
    = stylesheet_link_tag :site
    -# = javascript_include_tag :all
  %body{ class: page_classes }
    .wrapper
      .container
        = partial 'partials/header'
        %figure
          = image_tag "work/#{current_page.data.title.downcase}/banner.jpg"
        = partial 'partials/client-stats'
        -# = current_article.previous_article.url
        -# = current_article.next_article.url
      = yield
      = partial 'partials/footer'
