.info
  .stat.col-1-4.col-1-1-m
    %h1= current_article.data.client
    %h2 Client
  .stat.col-1-4.col-1-1-m
    %h1= current_article.data.role
    %h2 Role
  .stat.col-1-4.col-1-1-m
    %h1= current_article.data.location
    %h2 Location
  - if current_article.data.appstore
    .stat.col-1-4.col-1-1-m
      %h1
        = link_to 'Download App', current_article.data.appstore
      %h2 App Store
  - if current_article.data.appstore.nil? && current_article.data.link
    .stat.col-1-4.col-1-1-m
      %h1= clean_url(current_article.data.link)
      %h2 Website
  - if current_article.data.appstore.nil? && current_article.data.link.nil?
    .stat.col-1-4.col-1-1-m
      %h1= current_article.data.platform
      %h2 Platform
