---
title: Joyspace
client: Taplet/Joyspace
date: 2016-07-31 00:09 UTC
time: 2014–2015
tags: ios, brand
selected: selected
role: Product Designer
link: "http://myjoyspace.com"
platform: iOS
location: Los Angeles, CA
appstore: "https://itunes.apple.com/us/app/joyspace-group-sharing-hd/id1063406984"
---
.container.large
  .col-1-1.s-heading
    %h3 Dark Version
  .imagerow.omega
    - work_get_screen_images(page_title, 'black').each do |image_file|
      .col-1-4.col-1-2-m
        %figure
          = work_image_tag(page_title, image_file, 'black')
          %figcaption= work_get_title(image_file)
  .col-1-1.s-heading
    %h3 Light Version
  .imagerow.omega
    - work_get_screen_images(page_title, 'white').each do |image_file|
      .col-1-4.col-1-2-m
        %figure
          = work_image_tag(page_title, image_file, 'white')
          %figcaption= work_get_title(image_file)
  .col-1-1.s-heading
    %h3 Camera Screens
  .imagerow.omega
    - work_get_screen_images(page_title, 'camera').each do |image_file|
      .col-1-4.col-1-2-m
        %figure
          = work_image_tag(page_title, image_file, 'camera')
          %figcaption= work_get_title(image_file)
  .col-1-1.s-heading
    %h3 Social Screens
  .imagerow.omega
    - work_get_screen_images(page_title, 'social').each do |image_file|
      .col-1-4.col-1-2-m
        %figure
          = work_image_tag(page_title, image_file, 'social')
          %figcaption= work_get_title(image_file)
